aiohttp==3.8.6
apispec==5.1.1
attrs==23.1.0; python_version >= '3.7'
certifi==2023.7.22; python_version >= '3.6'
charset-normalizer==2.0.12; python_version >= '3'
click==8.1.3
clickclick==20.10.2
connexion==2.14.1
dictpath==0.1.3
dnspython==1.16.0
eventlet==0.30.2
flask==2.1.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.2
importlib-metadata==6.8.0; python_version < '3.10'
inflection==0.5.1; python_version >= '3.5'
iniconfig==1.1.1
isodate==0.6.1
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.2
jsonschema==4.0.1
lazy-object-proxy==1.9.0; python_version >= '3.7'
markupsafe==2.1.3; python_version >= '3.7'
more-itertools==10.0.0; python_version >= '3.8'
openapi-core==0.14.2
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==21.3
parse==1.19.1
pika==1.3.2
pluggy==1.0.0
py==1.11.0
pymongo==4.3.3
pyparsing==3.0.6
pyrsistent==0.19.3; python_version >= '3.7'
python_dateutil >= 2.8
python-dotenv==1.0.0
pytz==2023.3
pyyaml==5.4.1
requests==2.26.0
setuptools==41.6.0
six==1.16.0
swagger-ui-bundle==0.0.9
urllib3==1.26.16
werkzeug==2.2.3
zipp==3.16.2; python_version >= '3.8'
sdx-pce @ git+https://github.com/atlanticwave-sdx/pce@2.0.3
